/* Appearance */
.links {
	background-color: #ffffff9d;
	border-bottom: 1px solid #0003;
	box-shadow: 0 0 32px #0003;
	font-size: 2em;
	font-weight: 300;
}
.links > a {
	color: #555b6e;
	padding: .75em;
	text-align: center;
	text-decoration: none;
	transition: all .5s;
}
.links > a:hover {
	background: #ffffff06;
	color: #4c8479;
}
.links > .line {
	background: #68a;
	height: 1px;
	pointer-events: none;
}

/* The Magic */
#header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
}
.links {
	display: grid;
	grid-template-columns: repeat(var(--items), 1fr);
	position: relative;
}
.links > .line {
	opacity: 0;
	transition: all .5s;
	position: absolute;
	bottom: 0;
	left: var(--left, calc(100% / var(--items) * (var(--index) - 1)));
	width: var(--width, calc(100% / var(--items)));
	--index: 0;
}
.links > a:hover ~ .line {
	opacity: 1;
}

.links > a:nth-of-type(1):hover ~ .line { --index: 1; }
.links > a:nth-of-type(2):hover ~ .line { --index: 2; }
.links > a:nth-of-type(3):hover ~ .line { --index: 3; }
.links > a:nth-of-type(4):hover ~ .line { --index: 4; }
.links > a:nth-of-type(5):hover ~ .line { --index: 5; }
.links > a:nth-of-type(6):hover ~ .line { --index: 6; }
.links > a:nth-of-type(7):hover ~ .line { --index: 7; }
.links > a:nth-of-type(8):hover ~ .line { --index: 8; }
.links > a:nth-of-type(9):hover ~ .line { --index: 9; }
.links > a:nth-of-type(10):hover ~ .line { --index: 10; }
.links > a:last-of-type:hover ~ .line { --index: var(--items); }


:root {
    --red: #40806d;
    --orange: #1b3e30;
    --white: #f6f7f8;
    --dark: #515f84;
    --dark-grey: #435668;
    --grey: #efefef;
  }
  
  html {
    box-sizing: border-box;
    color: var(--dark);
    font-size: 16px;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  * {
    margin: 0;
    padding: 0;
  }
  
  body {
    background-color: var(--white);
    min-width: 200px;
  }
  
  .pricing-table {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15rem;
  }
  
  .pricing-table h2 {
    margin: 60px;
    font-weight: 700;
    font-size: 3.5rem;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    margin: 20px 0;
  }
  
  .pricing-table .element {
    border: 1px solid var(--dark-grey);
    border-radius: 12px;
    width: 100%;
    margin: 20px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    justify-content: space-around;
    align-items: center;
    font-size: 1.1rem;
    background-color: var(--white);
  }
  
  .element > * {
    margin: 20px;
  }
  
  .element:nth-of-type(2) {
    transform: scale(1.05);
  }
  
  .element .info h3 {
    font-size: 1.8rem;
    margin: 10px;
    text-align: center;
  }
  
  .element .info p {
    text-align: center;
    margin: 0 20px;
    font-size: 1.2rem;
  }
  
  .element .price {
    font-size: 4rem;
    font-weight: 700;
  }
  
  .element .period {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: var(--grey);
    padding: 0.5rem;
    border-radius: 8px;
    color: var(--dark);
  }
  
  .element .period label {
    flex: 1 1 50%;
    text-align: center;
    padding: 0.5rem 2rem;
    cursor: pointer;
  }
  
  .element .period label:hover {
    text-decoration: underline;
  }
  
  .period input[type="radio"] {
    display: none;
  }
  
  .period input[type="radio"]:checked + label {
    font-weight: 700;
    background-color: var(--white);
    border-radius: 6px;
  }
  
  .element ul {
    font-size: 1.2rem;
    list-style-type: none;
  }
  
  .element ul li {
    margin: 0.5rem;
  }
  
  .element ul li::before {
    content: url("https://karolnowinski.pl/assets/check-mark.svg");
    display: inline-block;
    margin: 0 10px;
    width: 1em;
    height: auto;
  }
  
  .element button {
    border: 0;
    background-color: var(--white);
    font-size: 1.4rem;
    color: var(--dark);
    border: 1px solid var(--dark);
    border-radius: 8px;
    padding: 10px 30px;
    margin: 20px;
    font-weight: 700;
    cursor: pointer;
  }
  
  .element button:hover {
    text-decoration: underline;
    box-shadow: 2px 2px 0px var(--dark);
  }
  
  .element button:focus {
    outline-color: var(--dark);
  }
  
  .active {
    background: linear-gradient(135deg, var(--red), var(--orange));
    color: var(--white);
    border: 1px solid transparent !important;
  }
  
  .active ul li::before {
    content: url("https://karolnowinski.pl/assets/check-mark-white.svg");
  }
  
  .active button {
    border-color: transparent;
  }
  
  @media only screen and (max-width: 1500px) {
    html {
      font-size: 10px;
    }
  }
  
  @media only screen and (max-width: 1080px) {
    .container {
      flex-direction: column;
    }
  
    .element {
      margin: 20px 0;
    }
  
    .element:nth-of-type(2) {
      transform: scale(1);
    }
  
    .element ul {
      display: flex;
      justify-content: space-around;
      margin: 0 20px;
      text-align: center;
      flex-wrap: wrap;
    }
  
    .period {
      flex-wrap: wrap;
    }
  }

  
  